@import url('https://fonts.googleapis.com/css2?family=Century+Gothic&display=swap');
* {
font-family: "Century Gothic";
}
body {
    background-size: 100% 100%;
    background-image: url(images/treebackground.png);
    background-attachment: fixed;
}

h1 {
  background: #00ca6c;
  color: #FFFFFF;
  border: solid #FFFFFF 5px;
}
h2 {
  color: #78ff7a;
  background: #4f3b66;
  border: solid #a4a4a4 5px;
  border-radius: 25px;
}
h3 {
  color: #FFFFFF;
  background: #78ff7a;
  border: solid #78ff7a 5px;
  border-radius: 25px;
}
h6 {
    color: #23a97d;
    font-size: -20;
}
hr {
  border: solid #7dffc5 2px;
}

