@import url('https://fonts.googleapis.com/css2?family=Century+Gothic&display=swap');
* {
font-family: "Century Gothic";
}
body {
    background-size: 100% 100%;
    background-image: url(images/treebackground.png);
    background-attachment: fixed;
}

h1 {
  background: #00ca6c;
  color: #FFFFFF;
  border: solid #FFFFFF 5px;
}
h2 {
  color: #78ff7a;
  background: #4f3b66;
  border: solid #a4a4a4 5px;
  border-radius: 25px;
}
h3 {
  color: #78ff7a;
  font-size: 40;
}
h6 {
    color: #23a97d;
    font-size: 0;
}
hr {
  border: solid #7dffc5 2px;
}
.tooltip {
  position: relative;
  display: inline-block;
}


.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

