@import url('https://fonts.googleapis.com/css2?family=Century+Gothic&display=swap');
* {
font-family: "Century Gothic";
}
body {
    background-size: 100% 100%;
    background-image: url(images/treebackground.png);
    background-attachment: fixed;
}

h1 {
  background: #00ca6c;
  color: #FFFFFF;
  border: solid #FFFFFF 5px;
}
h2 {
  color: #842689;
  background: #56135a;
  border: solid #FFFFFF 2px;
}
hr {
  border: solid #ff5b90 2px;
}
